<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h4>
<h4><%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>
<% @restaurant.reviews.each do |review| %>
  <div class="review_card">
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  </div>
<% end %>
<%= link_to "Back", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

